@{
    ViewBag.Title = "Conocenos";
}
<h2>@ViewBag.Title.</h2>

<div class="text-justify">
    <p>
        Imparte cursos de inglés y francés con el objetivo de contribuir eficazmente al aprendizaje de una o más lenguas extranjeras para los alumnos del I.P.N. <br />
        y público en general que quieran alcanzar mejores oportunidades en su desempeño profesional y personal mediante una planta docente especializada, <br />
        materiales educativos pertinentes y con programas de calidad avalados por la Dirección de Formación de Lenguas Extranjeras del Instituto Politécnico Nacional.
    </p>
</div>